.about-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 13%;
    /* Increase the left margin */
    margin-right: 13%;
    /* Increase the right margin */
}

.about {
    margin-left: 14%;
    width: 1500px;
    color: aliceblue;
    line-height: 2;
    margin-top: 10%;
    font-size: 20px;
    display: flex;
    flex-shrink: 1;
    /* Added flex-shrink property */
}

.about-title {
    text-align: center;
    display: block;
    color: aliceblue;
    font-size: 40px;
}