.container {
    background-color: #334756;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 900px;
    margin-left: -184px;
}

.title {
    font-size: 26px;
    margin-bottom: 10px;
    color: aliceblue;
    font-weight: 300;
}

.title-sub {
    font-size: 22px;
    margin-bottom: 10px;
    color: aliceblue;
    font-weight: 300;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-size: 18px;
    margin-bottom: 5px;
}

.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textarea {
    /* Existing styles */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc2f;
    border-radius: 5px;
    background-color: #20303c;
    height: 200px;
    min-height: 200px;
    width: 879px;
    max-width: 879px;
    color: aliceblue;
    line-height: 2;
    scrollbar-width: thin;
    scrollbar-color: #949494 #1e2327;
}

.textarea::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.textarea::-webkit-scrollbar-track {
    background-color: #1e2327;
    /* Color of the track */
}

.textarea::-webkit-scrollbar-thumb {
    background-color: #949494;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.textarea::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

.success-message {
    margin-top: 20px;
}