.welcome-title {
    text-align: center;
    color: white;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: -50px;
    margin-left: 12%;
    letter-spacing: 1.5px;
}