.post-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    margin-left: 80px;

}

.post {
    background-color: #082032;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 900px;
    max-width: calc(100% - 200px);
    /* Adjust the width calculation to account for the sidebar */
}

/* Media query for larger screen sizes */
@media (min-width: 1200px) {
    .post {
        width: 900px;
        max-width: 900px;
        margin-left: 150px;
        /* Set a fixed margin on larger screens */
    }
}



/* Media query for smaller screen sizes */
@media (max-width: 600px) {
    .post {
        width: 100%;
        max-width: 100%;
    }
}



.post-header {

    align-items: center;

}

.post-username {
    font-weight: light;
    text-align: center;
    font-size: 15px;
}

.post-title {
    font-weight: light;
    font-size: 20px;
    text-align: center;
}

.post-votes {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}


.post-content {
    margin-top: 10px;
}


.post-question {
    background-color: #334756;

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc2f;
    border-radius: 5px;
<<<<<<< HEAD
    background-color: #20303c;
    height: 200px;
    min-height: 200px;
=======
    background-color: #334756;
    height: 200px;
    min-height: 340px;
>>>>>>> wednesday11
    width: 879px;
    max-width: 879px;
    color: aliceblue;
    line-height: 2;
    scrollbar-width: thin;
    scrollbar-color: #949494 #1e2327;
}

.post-question::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.post-question::-webkit-scrollbar-track {
    background-color: #1e2327;
    /* Color of the track */
}

.post-question::-webkit-scrollbar-thumb {
    background-color: #949494;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.post-question::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

.post-response {
    background-color: #334756;

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #b3d2e9;
}

.post-question h2,
.post-response h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.post-question p,
.post-response p {
    margin: 0;
}

.post-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.post-action-btn-up {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #0079d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.post-action-btn-up:hover {
    transition: 0.3s ease-in-out;
    background-color: #26273183;
}

.post-action-btn-up:last-child {
    margin-right: 0;
}

.post-action-btn-down {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #6e8194;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.post-action-btn-down:hover {
    transition: 0.3s ease-in-out;
    background-color: #26273183;
}

.post-action-btn-down:last-child {
    margin-right: 0;
}

.read-more {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #415d74;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.read-more:hover {
    transition: 0.2s ease-in-out;
    background-color: #40545f83;
}

.atlas-response {
    height: 60px;
    width: 60px;
    margin-left: -18px;
}